@model Speedcoding.MVC.Models.Person
@{
    ViewData["Title"] = "Agent profile";
}

<div id="content" class="c-content" style="padding-bottom: 309px;">
    <div class="c-content__wrap">
        <div class="l-container">
            <div class="c-content__agent-profile h-clearfix">
                @Html.Partial("_Profile", Model)
                @Html.Partial("_SubmitForm", Model)
            </div>
            <div class="l-divider l-divider--big"></div>
            @Html.Partial("_ActiveListings", Model.ActiveListings)
            <div class="l-divider l-divider--big"></div>
            @Html.Partial("_PastSales", Model.PastSales)
            <div class="l-divider l-divider--big"></div>
            <h3>Ratings &amp; Reviews</h3>
            @Html.Partial("_Reviews", Model.Reviews)
            
        </div>
    </div>
</div>